.btnDiv{
  width: 10%;
  width: 100%;
}

.chooserBtn1,.chooserBtn2{
  margin-top: 20px;
  width: 25%;
  height: 30px;
}

.chooserBtn1{
  margin-left: 25%;
}

body{
  background-color: rgba(246,246,246,255);
}