.headerDiv{
    width: 100%;
    height: 230px;
}

.headerLogo{
    height: 300px;
    width: 330px;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%); 
}

.logoutBtn{
    position: absolute;
    top: 3px;
    right: 3px;

    border-radius: 10px;
    height: 35px;
    width: 80px;
}