.loginDiv{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: rgb(130,120,219);
    background: linear-gradient(90deg, rgba(130,120,219,0.9836309523809523) 0%, rgba(128,128,222,1) 36%, rgba(118,164,208,1) 67%, rgba(106,135,214,1) 100%);
    box-shadow: 10px 10px 5px 12px lightblue;
    position: relative;
    margin-top: 200px;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.formHeader{
    font-size: 50px;
    text-align: center;
}

.loginInput{
    width: 50%;
    margin-left: 25%;
    margin-top: 5px;
}

.loginBtn{
    width: 30%;
    margin-left: 35%;
    margin-top: 10px;
}

.loginLabel{
    position: relative;
    float: left;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
}